@import "tailwindcss";

@theme {
  --font-times: "Times New Roman", Times, serif;
}

@media print {
  @page {
    margin: 0;
    size: A4;
  }
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

/* Hide HTML5 number input spin buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
