@import "tailwindcss";

@theme {
  --font-times: "Times New Roman", Times, serif;
}

/* Remove number input spinners (up/down arrows) globally */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

@media print {
  @page {
    margin: 0;
    size: A4;
  }
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
